*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
html{
    font-size:62.5%;
}
.logo-img{
    width:165%;
    height: 25%;
}
.nav-item{
    font-size: 2rem;
}
.navbar{
    padding: 15px;
}